services:
  backend:
    build: ./backend
    image: ghcr.io/mani7643/fooddelivery-backend:latest
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - PORT=8000
      - MONGO_URI=${MONGO_URI:-mongodb://mongo:27017/courier}
      - JWT_SECRET=${JWT_SECRET:-your_jwt_secret_key_here}
      - JWT_EXPIRE=${JWT_EXPIRE:-30d}
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:5173}
      # Add Email configs here if needed for prod
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    image: ghcr.io/mani7643/fooddelivery-frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
