services:
  backend:
    build: ./backend
    image: ghcr.io/mani7643/fooddelivery-backend:latest
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - PORT=8000
      - MONGO_URI=${MONGO_URI:-mongodb://mongo:27017/courier}
      - JWT_SECRET=${JWT_SECRET:-your_jwt_secret_key_here}
      - JWT_EXPIRE=${JWT_EXPIRE:-30d}
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:5173}
      - EMAIL_SERVICE=${EMAIL_SERVICE}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - AWS_REGION=${AWS_REGION}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      # Add Email configs here if needed for prod
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    image: ghcr.io/mani7643/fooddelivery-frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      - app-network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.9
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
  elasticsearch-data:
